.layout {
  composes: primaryBackground from '../../colors.module.css';
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.nav {
  margin-top: 80px;
  text-align: center;
}

.logo {
  margin: auto;
}

.hero {
  width: 100%;
  margin-top: 64px;
}

.button {
  composes: primaryBackground from '../../colors.module.css';
  composes: secondaryColor from '../../colors.module.css';
  border: 2px dashed;
  margin-top: 18px;
  font-size: 1.5rem;
}

@media (min-width: 760px) {
  .layout {
    display: grid;
    grid-template-columns: 1fr 1.8fr;
  }

  .nav {
    margin-top: 120px;
    translate: 24px;
  }

  .logo {
    width: 100%;
  }

  .hero {
    margin-top: 0;
    padding: 46px 46px 0 0;
  }
}

@media (min-width: 1440px) {
  .nav {
    margin-top: 160px;
    translate: 64px;
  }
}
