.layout {
  composes: primaryBackground from '../../colors.module.css';
  display: grid;
  grid-template-columns: 1fr 1.8fr;
}

.nav {
  margin-top: 160px;
  text-align: center;
}

.button {
  composes: primaryBackground from '../../colors.module.css';
  composes: primaryColor from '../../colors.module.css';
  border: 2px dashed;
  margin-top: 18px;
  font-size: 1.5rem;
}

.hero {
  width: 100%;
  padding: 64px 46px 64px 0;
}
