.layout {
  composes: primaryBackground from '../../colors.module.css';
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.nav {
  margin-top: 80px;
}

.logo {
  margin: auto;
}

.hero {
  width: 100%;
  margin-top: 64px;
}

.buttonHolder {
  display: flex;
  max-width: 400px;
  margin: auto;
  padding: 0 32px;
}

.button {
  composes: primaryBackground from '../../colors.module.css';
  composes: secondaryColor from '../../colors.module.css';
  flex: 1;
  margin-top: 18px;
  font-size: 1.5rem;
  border: 3px dashed;
}

@media (min-width: 760px) {
  .layout {
    display: grid;
    grid-template-columns: 1fr 1.8fr;
  }

  .nav {
    margin-top: 120px;
    translate: 24px;
  }

  .logo {
    width: 100%;
  }

  .hero {
    margin-top: 0;
    padding: 46px 46px 0 0;
  }

  .button {
    border: 5px dashed;
  }
}

@media (min-width: 1024px) {
  .button {
    margin-top: 36px;
  }
}

@media (min-width: 1440px) {
  .nav {
    margin-top: 160px;
    translate: 64px;
  }

  .button {
    margin-top: 64px;
    font-size: 2rem;
  }
}

@media (min-width: 2560px) {
  .buttonHolder {
    max-width: 600px;
  }

  .button {
    margin-top: 180px;
    font-size: 3rem;
    border: 10px dashed;
  }
}
