.primaryBackground {
  background-color: black;
}

.primaryColor {
  color: #92b0e0;
}

.secondaryColor {
  color: #88a688;
}

.tertiaryColor {
  color: #ff7777;
}

.quaternaryColor {
  color: #ffcc77;
}
