.wrapper {
  composes: primaryBackground from '../../colors.module.css';
  composes: primaryColor from '../../colors.module.css';
  text-align: center;
}

.companyName {
  font-size: 60px;
  font-style: italic;
  line-height: 36px;
}

.companyTitle {
  font-size: 20px;
}
