.card {
  composes: secondaryColor from '../../styles/colors.module.css';
  composes: primaryBackground from '../../styles/colors.module.css';
  display: flex;
  flex-direction: column;
  padding: 24px 16px 14px 16px;

  text-align: right;
  border: 2px solid;
  border-radius: 4px;
}

.form > * {
  display: block;
  margin-left: auto;
}

.itemName {
  composes: tertiaryColor from '../../styles/colors.module.css';
}

.price {
  composes: primaryColor from '../../styles/colors.module.css';
}

.quantityHolder {
  composes: primaryColor from '../../styles/colors.module.css';
  display: flex;
  margin-top: 6px;
  margin-left: auto;
}

.quantity {
  max-width: 80px;
  padding: 3px 3px 1px 3px;

  text-align: right;
  color: inherit;
  background-color: inherit;
  border: 2px dashed;
}

.quantityButton {
  composes: quaternary from '../../styles/colors.module.css';
  composes: primaryBackground from '../../styles/colors.module.css';

  font-size: 20px;
  width: 35px;
  margin: 0;
  padding: 0;
}

.decrementButton {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.incrementButton {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.quantityButton:hover {
  color: #ffcc77;
  background-color: black;
}

.quantityButton:active {
  color: black;
  background-color: #ffcc77;
  border-color: #ffcc77;
}
