.card {
  composes: secondaryColor from '../../styles/colors.module.css';
  composes: primaryBackground from '../../styles/colors.module.css';
  display: flex;
  flex-direction: column;
  padding: 24px 16px 14px 16px;

  text-align: right;
  border: 2px solid;
  border-radius: 4px;
}

.form {
  composes: primaryColor from '../../styles/colors.module.css';
  display: flex;
  flex-direction: column;
}

.form > * {
  display: block;
  margin-left: auto;
}

.quantity {
  max-width: 80px;
  margin-top: 6px;
  padding: 3px 3px 1px 3px;

  text-align: right;
  color: inherit;
  background-color: inherit;
  border: 2px dashed;
  border-radius: 6px;
}

.submitBtn {
  composes: quaternaryColor from '../../styles/colors.module.css';
  margin-top: 10px;
  padding: 3px 18px 1px 18px;

  background-color: inherit;
  border: 2px solid;
  border-radius: 4px;
}

.itemName {
  composes: tertiaryColor from '../../styles/colors.module.css';
}