.layout {
  composes: layout from '../Homepage/Homepage.module.css';
  composes: secondaryColor from '../../styles/colors.module.css';
}

.logo {
  composes: logo from '../Homepage/Homepage.module.css';
  margin-top: 80px;
}

.shop {
  display: flex;
  flex-direction: column;
  gap: 54px;
  margin-top: 42px;
  padding: 0 24px 24px 24px;
}
