.layout {
  composes: primaryBackground from '../../styles/colors.module.css';
  composes: secondaryColor from '../../styles/colors.module.css';
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  padding: 12px;
}

.shopHeader {
  display: flex;
  justify-content: center;

  --header-color: #ffcc77;
  background: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 10px,
    var(--header-color) 10px,
    var(--header-color) 20px
  );
}

.shopHeaderTitle {
  composes: primaryBackground from '../../styles/colors.module.css';
  composes: quaternaryColor from '../../styles/colors.module.css';
  padding: 3px 12px 0 12px;
  font-size: 20px;
  border: 2px solid;
}

.shop {
  composes: quaternaryColor from '../../styles/colors.module.css';
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding: 42px 24px 24px 24px;

  border: 2px solid;
  border-top: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.checkout {
  position: sticky;
  top: 12px;
}

@media (min-width: 700px) {
  main {
    padding: 0 12px 12px 12px;
  }

  .layout {
    display: grid;
    grid-template-columns: 320px 1fr;
  }
}

@media (min-width: 900px) {
  .shop {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1400px) {
  .shop {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
