.layout {
  composes: layout from '../Homepage/Homepage.module.css';
  composes: secondaryColor from '../../styles/colors.module.css';
}

.headerIcon {
  composes: logo from '../Homepage/Homepage.module.css';
  width: 140px;
  height: 140px;
  margin-top: 24px;
  object-fit: none;
}

.logo {
  composes: logo from '../Homepage/Homepage.module.css';
  margin-top: 12px;
}

.shop {
  display: flex;
  flex-direction: column;
  gap: 54px;
  margin-top: 42px;
  padding: 0 24px 24px 24px;
}

.headerDecoration {
  display: grid;
  grid-template-columns: 47% 53%;
  margin-top: 24px;
  padding-right: 8px;
}

.englishText {
  composes: primaryColor from '../../styles/colors.module.css';
  transform-origin: top left;
  transform: rotate(90deg) translateY(10%);
  font-size: 32px;
  text-wrap: nowrap;
  line-height: 1.1;
}

.chineseText {
  composes: primaryColor from '../../styles/colors.module.css';
  transform: translateX(100%);
  font-size: 32px;
  font-style: italic;
}

.portrait {
  composes: primaryColor from '../../styles/colors.module.css';
  padding: 12px;
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-right: 2px solid;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}